@use "@angular/material" as mat;

mat-toolbar {
  display: flex;
  flex-direction: row;
  padding: 25px 32px;
}

.search-bar {
  input {
    padding: 5px 20px 5px 50px;
    border-radius: 100px;
    border-style: none;
    background: #fff;
    width: 250px;
    font-size: 20px;
    outline: none;
  }
}

.search-icon {
    position: absolute;
    margin: 5px 0px 0px 15px;
}