/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  position: fixed;
  background: #F1F0FF;
  padding: 5px;
  width: calc(100% - 310px);
  height: calc(100% - 64px);
}

* {
  color: var(--Dark-grey, #6F6F6F);
}

.minimal {
  @include mat.all-component-densities('minimum');
}

.small-icon-button {
  width: 26px !important;
  height: 26px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
     width: 20px;
     height: 20px;
     font-size: 20px;

     svg {
        width: 20px;
        height: 20px;
     }
  }

  .mat-mdc-button-touch-target {
     width: 26px !important;
     height: 26px !important;
  }
}

.mat-submit {
  background-color: #7e57c2 !important;
  .mdc-button__label {
  color: white !important ;
  }
}

$deep-purple-palette: (
  50: #ede7f6,
  100: #d1c4e9,
  200: #b39ddb,
  300: #9575cd,
  400: #7e57c2,
  500: #673ab7,
  600: #5e35b1,
  700: #512da8,
  800: #48409E,
  900: #311b92,
  contrast: (
    50: var(--Dark-grey, #6f6f6f),
    100: var(--Dark-grey, #6f6f6f),
    200: var(--Dark-grey, #6f6f6f),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$pink-palette: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f8bbd0,
  300: #f06292,
  400: #ec407a,
  500: #e91e63,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: var(--Dark-grey, #6f6f6f),
    100: var(--Dark-grey, #6f6f6f),
    200: var(--Dark-grey, #6f6f6f),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$mytask-primary: mat.define-palette(mat.$deep-purple-palette, 800);
$mytask-accent: mat.define-palette(mat.$deep-purple-palette, 200);

$mytask-theme: mat.define-light-theme(
  (
    color: (
      primary: $mytask-primary,
      accent: $mytask-accent
    ),
    density: 0,
  )
);

@include mat.all-component-themes($mytask-theme);